.brendDropDown{
    position: absolute;
    top: 130px;
    width:100%;
    min-height: 330px;
    z-index: 10;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(207, 201, 201);
}
.brendDropDown a{
    list-style: none;
    text-decoration: none;
}
.brendDropDown li {
    color: gray;
    font-size: 20px;
    text-align: center;
}
.brendDropDown li:hover{
    transition: all 0.2s ease-out;
    background-color: #1888ff;
    color:white
}