.div-part-1{
    width: 300px;
}
.scroll-div-men{
    max-width: 200px;
    height: 200px;
    overflow-y: scroll;
    overflow-x: hidden;
    border-top:0.2px solid gray;
    border-bottom:0.2px solid gray;
}
.scroll-div-men ul  {
    list-style: none;
    cursor: pointer;
}
.scroll-div-men a{
    text-decoration: none;
    color: gray;
}
.scroll-div-men li:hover{
    transition: all 0.2s ease-out;
    background-color: #1888ff;
    color:white
}
.menDiv{
    display: flex;
}
.categoriesFile{
    display: flex;
}

@media screen and (max-width:900px){
    .categoriesFile{
       display: block;
    }
}
@media screen and (max-width:1000px){
    .menDiv{
        display:block;
    }
}