.articleCardDiv{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.articleCard{
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 240px;
}
.articleCard:hover{
    border: 0.5px solid gray;
}
.articleCardImg{
    width: 180px;
    height: 170px;
    object-fit: contain;
}
.articleCardImg:hover{
    width: 200px;
    height: 190px;
}
.divPart1 h1{
    color: gray;
    font-size: 22px;
    font-weight: 500;
 }
 .divPart1 p{
     color: gray;
     font-size: 16px;
     font-weight: 300;
 }
 .divPart2{
    display: flex;
 }
 .divPart2 p{
    color: gray;
    font-size: 16px;
 }
.divPart2 h1{
    color: rgb(7, 116, 7);
    font-size: 20px;
    margin-left: 15px;
    font-weight: 300;
}