.mainNavbar{
    height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.mainNavbarPart1{
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.mainNavbarPart1 input{
    border: none;
    border-bottom:1px solid black ;
    width: 300px;
}
.mainNavbarPart1 input:focus{
    border: 1px solid red;
}
.searchIcon{
    position: absolute;
    margin-left:-30px;
    margin-top: 3px;
    font-size: 20px;
}
.menuMobileIcon{
    color: rgb(27, 24, 24);
    font-size: 20px;
    display: none;
}
@media screen and (max-width:768px){
    .menuMobileIcon{
        display: block;
    }
}