.footer{
    width: 100%;
}
.footer1{
    margin-top: 10px;
    height: 40px;
    background: rgb(213, 221, 221);
}
.footer2{
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around;
}
.footer2 h1{
    font-size: 25px;
    margin-left: 20px;
    color: rgb(41, 40, 40);
}
.footer2 ul li{
    list-style: none;
    color: rgb(95, 92, 92);
    font-size: 18px;
}
.footer2 li:hover{
    color: rgb(54, 52, 52);
}

.footer2 a{
    text-decoration: none;
}

.footer3{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 10px;
    width: 100%;
    min-height: 80px;
    background: rgb(41, 40, 40);
    color: wheat;
}
.footer3 h1{
    font-size: 30px;
}
@media  screen and (max-width:768px) {
    .footer3{
        display: flex;
        flex-direction: column;
    }
}
